body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #1C2735;
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.logo img {
    width: auto;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s;
}

.logo:hover img {
    transform: scale(1.5);
}

.sticky-nav {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    position: relative;
}

.sticky-nav .logo {
    flex-shrink: 0;
}

.sticky-nav .logo img {
    height: 50px;
}

.sticky-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
}

.sticky-nav ul li {
    margin: 0 15px;
}

.sticky-nav ul li a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.sticky-nav ul li a:hover {
    background-color: #4e6c92;
    border-radius: 4px;
    color: #F0F4F8;
}

.gallery-intro {
    padding: 20px 0;
    background-color: #F0F4F8;
    text-align: center;
    margin: 0 0 0 0 ;
    width: 100%;
}

.gallery-intro .gi-header {
    font-size: 3em;
    color: #1C2735;
    margin-bottom: 20px;
    transition: transform 0.6s ease-in-out;
}

.gallery-intro:hover .gi-header {
    color: #4CAF50;
    transform: scale(1.1);
    transition: transform 0.6s ease-in-out;
}

.gallery-intro p {
    font-size: 1.2em;
    color: #333;
}

.category-buttons {
    margin-bottom: 20px;
}

.category-buttons button {
    background-color: #4e6c92;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.category-buttons button:hover,
.category-buttons button.active {
    background-color: #4CAF50;
}

.image-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px 20px;
}

.image-card {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    position: relative; 
}

.image-card img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.image-card h2 {
    position: absolute; 
    bottom: 0; 
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    padding: 10px;
    margin: 0;
    font-size: 1.2em;
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px; 
}

.image-card:hover h2 {
    color: #65c568;
}

.image-card img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s;
}

.image-card:hover img {
    transform: scale(1.1);
}

.sticky-nav ul li a.active {
    color: #4CAF50; 
    font-weight: bold;
}